@page "/artistwork/{ArtistWorkId:int}"
@using RadiocomDataViewApp.Components.ArtistWorkCharts;
<h3>@ArtistWorkName </h3>
<Breadcrumb>
	
	<BreadcrumbItem><BreadcrumbLink To='@($"/artist/{ArtistId}")'>@ArtistName</BreadcrumbLink></BreadcrumbItem>
	<BreadcrumbItem Active="true"><BreadcrumbLink To='@($"/artistwork/{ArtistWorkId}")'>@ArtistWorkName</BreadcrumbLink></BreadcrumbItem>
</Breadcrumb>
<Row>
	<Column Class="col-md-8 col-sm-12 pb-1 pb-sm-0">
		<SongPlayedOverTimeChart ArtistWorkId="@ArtistWorkId" />
	</Column>
	<Column Class="col-md-4 col-sm-12 pb-1 pb-sm-0">
		<SongPercentageOfArtistPieChart ArtistWorkId="@ArtistWorkId" ArtistName="@ArtistName" ArtistId="@ArtistId" />
	</Column>
</Row>
